{% extends "layout.html" %}

{% block title %}
    develope Page
{% endblock %}

{% block content %}
   <h1 class="bg-slate-400 text-aligned font-serif text-2xl">web developers</h1>
 <div class="grid grid-cols-4 gap-4 m-4 rounded">
    {% for domain in domains %}
    <div class="bg-cyan-700 p-4 text-justify">
        <img class = "rounded shadow-md items-center" src="{{domain.image.url}}" alt="">
        <h3 class="text-center text-2xl font-bold">{{domain.name}}</h3>
        <a href="#">
            <button type="button" class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium 
            rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
                {{domain.type}} - {{domain.id}}
            </button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

