{% extends "layout.html" %}

{% block title %}
Contacts page
{% endblock %}

{% block  content%}
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-lg font-bold">
            Contacts
        </div>
        <div>
            <ul class="flex space-x-4">
                <li><a href="{% url 'home' %}" class="text-gray-300 hover:text-white">Home</a></li>
                <li><a href="{% url 'about' %}" class="text-gray-300 hover:text-white">About</a></li>
                <li><a href="{% url 'webin' %}" class="text-gray-300 hover:text-white">web</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="bg-orange-950 m-2 p-3 text-center text-fuchsia-100 font-bold text-2xl">
        Contact details
    </div>
    <div>
        {{domain.name}}
    </div>
   
</body>
{% endblock %}

