{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-lg font-bold">
            Club
        </div>
        <div>
            <a href="{% url 'about'%}"></a>
            <ul class="flex space-x-4">
                <li><a href="#" class="text-gray-300 hover:text-white">Home</a></li>
                <li><a href="{% url 'about' %}" class="text-gray-300 hover:text-white">About</a></li>
                <li><a href="{% url 'webin' %}" class="text-gray-300 hover:text-white">web</a></li>
                <li><a href="{% url 'contacts' %}" class="text-gray-300 hover:text-white">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="bg-blue-600 text-5xl m-5 p-5 shadow-white">
        <h1 class="items-center w[100%] justify-center px-4 py-2 text-center">
            Welcome to Naxtre Club
        </h1>
    </div>
</body>
{% endblock %}